body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: url(./img/background.svg) no-repeat;
  background-position: bottom;
  background-size: cover;
}

header {
  height: 5rem;
  width: 100vw;
  max-width: 940px;
  margin: auto;
  width: 80vw;
  display: flex;
  align-items: center;
}

.logo {
  height: 3rem;
}

.container,
.container-login {
  background: #464040;
  height: 70vh;
  width: 80vw;
  max-width: 1100px;
  border-radius: 10px;
  margin: 0 auto;
  display: grid;
}

.container {
  grid-template-columns: 1fr 1fr 2fr;
}

.container-login {
  grid-template-columns: 1fr 3fr;
}

.girl {
  height: 70vh;
  border-radius: 10px 0 0 10px;
}

h2 {
  font-size: 2rem;
  line-height: 3rem;
  color: #fff;
  margin: auto 1rem;
}

.register,
.login {
  top: 0;
  margin: auto;
  box-sizing: border-box;
}

.login {
  width: 60%;
}

form input,
button {
  margin-bottom: 1rem;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
}

form input:not(#check) {
  display: flex;
  width: 100%;
  padding-left: 1rem;
  box-sizing: border-box;
}

.checkbox,
#check {
  height: 1rem; /* deixar as alturas iguais para alinhar */
  margin: 0 0.5rem 0 0;
  color: #fff;
}

.btn {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contrast-btn,
.cookies-btn {
  background: #00a470;
  color: #fff;
  font-weight: bold;
  width: 45%;
}

.contrast-btn a,
.cookies-btn {
  text-decoration: none;
  color: #fff;
}

.contrast-btn:hover,
.cookies-btn:hover {
  background: #255644;
}

.secondary-btn {
  text-decoration: none;
  color: #fff;
  width: 45%;
  font-weight: bold;
  margin-left: 1rem;
}

.secondary-btn a {
  text-decoration: none;
  color: #00a470;
}

.secondary-btn a:hover {
  color: #255644;
}

.cookies {
  width: 100vw;
  height: 4rem;
  background: #ebebeb;
  position: absolute;
  bottom: 0;
  color: #505050;
  font-size: 0.8rem;
  line-height: 1rem;
  display: flex;
  justify-content: center;
}

.cookies-info {
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookies p {
  padding-right: 2rem;
}

.cookies-btn {
  margin: 0 auto;
  width: 60px;
  height: 30px;
  cursor: pointer;
}

.inactive-cookies {
  visibility: hidden;
  opacity: 0;
}

.form-login {
  width: 100%;
}

.open-modal {
  text-decoration: none;
  border-bottom: 1px solid #00a470;
  color: #fff;
  font-size: 0.75rem;
  cursor: pointer;
}

.open-modal:hover {
  font-weight: bold;
  border-bottom: 2px solid #255644;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  background: #fff;
  width: 40rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #505050;
  padding: 5rem;
  box-sizing: border-box;
}

.modal h2 {
  color: #909090;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.modal input {
  border: 1px solid #505050;
  margin: 2rem;
}
